*.zip
*.log
*.pdf
*.xls
*.xml
/*.html
/.idea
/.vscode
/admin158/config.php
/config.php
/config_db.php
/media/document/*
/media/image/*
!/media/image/cache/
/media/image/cache/*
/media/video/*
/catalog/view/theme/theme333/stylesheet/min/*
/catalog/view/theme/theme333/js/min/*
/admin158/view/stylesheet/min/*
/admin158/view/javascript/min/*
.htaccess
.htpasswd
/download/*
/system/logs/*
/system/cache/*
/system/library/geolite_db/
/xhprof
/phpRedisAdmin
/catalog/view/theme/theme333/js/json/shipping/*.json

/vendor/*
/node_modules