*.zip
*.log
*.pdf
*.xls
*.xml
/*.html
/.idea
/.vscode
/public_html/admin/config.php
/public_html/config.php
/public_html/image/*
.htaccess
.htpasswd

db_data/
storage/
storage_/

/vendor/*
/node_modules/*
