<footer>
   <div class="container">
    <a href="https://opencart-3x.ru/" target="_blank">{{ text_project }}</a>|<a href="https://opencart-3x.ru/oc3-administration/" target="_blank">{{ text_documentation }}</a>|<a href="https://opencart-3x.ru/blog/" target="_blank">{{ text_support }}</a><br />
  </div>
</footer>
</body></html>